body {
    background-color:#000000;
    font-family:"Bacasime Antique", serif;
    font-style: normal;
}
.parent{
    position: relative;
    left: 0vw;
    top: 0vh;
}

.s1{position: absolute;color:rgb(255, 255, 255);left: 10vw; top: 35vh;font-size: 1.5vw;font-weight: 900;z-index: 3;}
.s2 {position: absolute;color: rgb(255, 255, 255);left: 10vw;top: 45vh;font-size: 1.5vw;z-index: 1;}
.s3 {position: absolute;color: rgb(255, 255, 255);left: 50vw;top: 45vh;font-size: 1.5vw;z-index: 1;}
.s4 {position: absolute;color: rgb(255, 255, 255);left: 12vw;top: 50vh;font-size: 1.5vw;z-index: 1;}
.s5 {position: absolute;color: rgb(255, 255, 255);left: 43vw;top: 50vh;font-size: 1.5vw;z-index: 1;white-space: nowrap;}
.s6 {position: absolute;color: rgb(255, 255, 255);left: 35vw;top: 60vh;font-size: 1.5vw;z-index: 1;}
.URDU{position: absolute;color: rgb(255, 255, 255);right: 3vw;top: 0vh;font-size: 14vw; z-index: 3;text-decoration: none;}
.URDU:hover {color: #0008ED;}

#container {
    position:absolute;
    top: 0vh; 
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.image {
    width: 10vw;
    z-index:2;
}

