body {
    background-color:#000000;
    color: rgb(255, 0, 0);
    font-family:"Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;}
.parent{
    position: relative;
    left: 0vw;
    top: 0vh;
}

.s1{position: absolute;color:rgb(255, 255, 255);left: 10vw; top: 35vh;font-size: 1.5vw;font-weight: 900;z-index: 1;}
.s2 {position: absolute;color: rgb(255, 255, 255);left: 10vw;top: 45vh;font-size: 1.5vw;z-index: 1;}
.s3 {position: absolute;color: rgb(255, 255, 255);left: 50vw;top: 45vh;font-size: 1.5vw;z-index: 1;}
.s4 {position: absolute;color: rgb(255, 255, 255);left: 12vw;top: 50vh;font-size: 1.5vw;z-index: 1;}
.s5 {position: absolute;color: rgb(255, 255, 255);left: 43vw;top: 50vh;font-size: 1.5vw;z-index: 1;white-space: nowrap;}
.s6 {position: absolute;color: rgb(255, 255, 255);left: 35vw;top: 60vh;font-size: 1.5vw;z-index: 1;}
.URDU{position: absolute;color: rgb(255, 255, 255);left: 3vw;top: 0vh;font-size: 14vw;margin: 0;letter-spacing: 5vw;font-weight: 800;z-index: 101;}
.URDU:hover {color: #0008ED;}
.d{position: absolute;color: rgb(96, 0, 0);left: 58vw;top: 0vh;font-size: 3vw;margin: 0;letter-spacing: 5vw;font-weight: 800;z-index: 1;}
.ag{position: absolute;color: rgb(137, 0, 0);left: -2vw;top: 40vh;font-size: 28vw;font-weight: 800;rotate: -90deg;margin: 0;letter-spacing: 2vh;z-index: 1;}
.opening{position: absolute;left: 3vw;top: 20vh;margin: 0;z-index: 2;width: 15vw;z-index: 1;}


#container {
    position:absolute;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.image {
    width: 10vw;
    z-index:100;
}

