
body {
  background-color:#0008ed ;
  color: black;
  font-family: Garamond;
}
@font-face {
  font-family: 'Zombie';
  src: url('/freda/Curse of the Zombie 2.ttf');
}
@font-face {
  font-family: 'DOS';
  src: url('/freda/Perfect DOS VGA 437 Win.ttf');
}
/* BORDER */
.borderparent {position: relative;top: -1vh;left: 0vw;display: flex;}
.bordhorz{position:absolute;top: 0vh;left: 0vw;width: 28vw;height:auto;z-index: 0;}
.bordhorz2{position:absolute;top: 0vh;left: 28vw;width: 28vw;height:auto;z-index: 0;}
.bordhorz3{position:absolute;top: 0vh;left: 56vw;width: 28vw;height:auto;z-index: 0;}
.bordvert{position:absolute;top: 0vh;left: 0vw;width: 0.8vw;height:auto;z-index: 0;}
.bordvert2{position:absolute;top: 28vh;left: 0w;width: 0.8vw;height:auto;z-index: 0;}
.bordvert3{position:absolute;top: 56vh;left: 0vw;width: 0.8vw;height:auto;z-index: 0;}
.bordvert4{position:absolute;top: 84vh;left: 0vw;width: 0.8vw;height:auto;z-index: 0;}
.bordvert5{position:absolute;top: 98vh;left: 0vw;width: 0.8vw;height:auto;z-index: 0;}
.bordvertr{position:absolute;top: 0vh;left: 99vw;width: 0.8vw;height:auto;z-index: 2;}
.bordvertr2{position:absolute;top: 28vh;left: 99vw;width: 0.8vw;height:auto;z-index: 2;}
.bordvertr3{position:absolute;top: 56vh;left: 99vw;width: 0.8vw;height:auto;z-index: 2;}
.bordvertr4{position:absolute;top: 84vh;left: 99vw;width: 0.8vw;height:auto;z-index: 0;}
.bordvertr5{position:absolute;top: 98vh;left: 99vw;width: 0.8vw;height:auto;z-index: 0;}


/* ------------------ POETRY --------------- */
.poetryparent {position: relative;top: 0vh;left: 0vw;display: flex;}
.MJRH{position:absolute;top: 2vh;left: 72vw;width: 26vw;height:auto;}
.BP {position: absolute;top: 15vh;left: 70vw;width: 14vw;height:auto;}
.NKS {position: absolute;top: 16vh;left: 40vw;width: 16vw;height:auto;}
.NKSR {position: absolute;top: 25vh;left: 25vw;width: 17vw;height:auto;}
.JJG {position: absolute;top: 38vh;left: 58vw;width: 15vw;z-index: 4;height:auto;}
.JBS { position: absolute;top: 44vh; left: 30vw;width: 14vw;  height:auto;}
.TKD {position: absolute;top: 58vh;left: 61vw;width: 19vw;height:auto;}
.MHA {position: absolute;top: 67vh;left: 52vw;width: 17vw;height:auto;z-index:2;} 

/* =----------------- ART --------------------- */
.ARTparent {position: relative;top: 0vh;left: 0vw;display: flex;}
.ARTOND {position: absolute;top: 16vh;left: 1vw; width:27vw;height:65vh;z-index:3;}
.BORDER{position:absolute;width:25.1vw;height:4vh;top: 14vh;left: 2vw;}
.BORDER2{position:absolute;width:25.1vw;height:4vh;top: 78vh;left: 2vw;}

/* BANNER */
.BANNERB {position: absolute;top: 0vh;left: 3vw;display: flex;width: 15vw;height: 13vh;z-index: 0;}
.BANNERA {position: absolute;top: 0vh;left: 3vw;display: flex;width: 20vw;height: 13vh;z-index: 0;}
.BANNERC {position: absolute;top: 0vh;left: 3vw;display: flex;width: 25vw;height: 13vh;z-index: 0;}
/* ------------------------- COLLAGE --------------------- */
.COLLAGEparent{
  position:relative;
  top: 0vh;
  left: 0vw;
  display: flex;
}
.bachat{position:absolute;top: 75vh;left: 58.5vw;width:40vw;z-index: 2;}
.craft{position:absolute;top: 60vh;left: 28vw;width:45vw;z-index: 2;}
.wtfrishi{position: relative;top: 171vh;left: 52vw;width: auto;height: 37vh;z-index: 1;}
.nopretty{position: relative;top: 183vh;left: -5vw;width: 60vw;height: 27vh;z-index: 10;transform: scale(0.8);}

.faiwy{
  position:relative;
  top: 80vh;
  left: 75vw;
  width:auto;
  height:37vh;
  transform: rotate(-10deg);
  z-index: 5;
}
.xareen{
  position: absolute;
  top: 122vh;
  left: 63vw;
  width: 20vw;
  z-index: 5;
}
.nani{
  position:absolute;
  top: 78vh;
  left: 0vw;
  width:28vw;
  z-index: 2;
}
.VEER {
  position: absolute;
  top: 134vh;
  left: 41vw;
  width: 13vw;
  z-index: 5;
}
.zebu{
  position:absolute;
  top: 135vh;
  left: 15vw;
  height:15vw;
  transform: rotate(-10deg);
  z-index: 5;
}
.sign{
  position:absolute;
  top: 150vh;
  left: 55vw;
  height:15vw;
  transform: rotate(-10deg);
  z-index: 5;
}
.epit{
  position:absolute;
  top: 122vh;
  left: 31vw;
  height:15vw;
  transform: rotate(12deg);
  z-index: 1;
}
.seeriyan{
  position:absolute;
  top: 104vh;
  left: 20vw;
  width:13vw;
  z-index:5 ;
}
.aishu{
  position:absolute;
  top: 35vh;
  left: 88vw;
  height:15vw;
  z-index: 4;
}
.temple{
  position:absolute;
  top: 50vh;
  left: 84vw;
  height:15vw;
  z-index: 5;
}
.divv{
  position:absolute;
  top: 125vh;
  left: 55vw;
  height:25vw;
  z-index: 5;
}
.runa{
  position:absolute;
  top: 80vh;
  left: 90vw;
  width:10vw;
  z-index: 5;
}
.sting{
  position:absolute;
  top: 137vh;
  left: 85vw;
  width:5vw;
  z-index: 4;
  rotate:10deg;
}
.WEBAMPsHIZ{
  position: absolute;
  top: 165vh;
  left: 45vw;
  height: 14vh;
  z-index:5
}
.falestine{
  position: absolute;
  top: 120vh;
  left: 49vw;
  width: 12vw;
  z-index: 4;
}
.foots{
    position: absolute;
    top: 145vh;
    left: 72vw;
    width: 25vw;
    z-index: 1;
}
.seaview{
  position: absolute;
  top: 142vh;
  left: 12vw;
  width: 30vw;
  z-index: 1;
}
.kite {
  position: absolute;
  top: 162vh;
  left: 8vw;
  width: 13vw;
  z-index: 5;
}
.pinjra{
    position: absolute;
    top: 174vh;
    left: 21vw;
    width: 7vw;
    z-index: 5;
}
.emerald{
  position: absolute;
  top: 103vh;
  left: -1vw;
  width: 8vw;
  z-index: 1;
  rotate: -18deg;
}
/* ---------------------- OUTFIT SECTION  LOCKED GEOMETRY ---------------------- */
:root {
  --design-width: 1512; /* for macbook */
  --design-height: 445;
  --scale_clothes: 1;
}

/* Scale proportionally on smaller devices */
@media (max-width: 2000px)  { :root { --scale_clothes: 1.1; } }
@media (max-width: 1200px)  { :root { --scale_clothes: 0.85; } }
@media (max-width: 1200px)  { :root { --scale_clothes: 0.85; } }
@media (max-width: 900px)   { :root { --scale_clothes: 0.70; } }
@media (max-width: 700px)   { :root { --scale_clothes: 0.55; } }
@media (max-width: 500px)   { :root { --scale_clothes: 0.40; } }

/* Main container */
.OUTFIT {
  position: relative;
  margin: 0 auto;
  width: calc(var(--design-width) * 1px * var(--scale_clothes));
  height: calc(var(--design-height) * 1px * var(--scale_clothes));
  top: 160vh;
}

/* Universal rules for outfit */
.OUTFIT img {
  position: absolute;
  display: block;
  height: auto;
  object-fit: contain;
  transform-origin: top left;
}

/* ---------------- INDIVIDUAL CLOTHES ---------------- */

.base {
top: calc(540px * var(--scale_clothes));
  left: calc(670px * var(--scale_clothes));
  width: calc(189px * var(--scale_clothes));
  z-index: 1;
}
.room {
  top: calc(342px * var(--scale_clothes));
  left: calc(302px * var(--scale_clothes));
  width: calc(907px * var(--scale_clothes));
  z-index: 0;
}

.jersey {
  top: calc(778px * var(--scale_clothes));
  left: calc(1309px * var(--scale_clothes));
  width: calc(219px * var(--scale_clothes));
  z-index: 4;
}

.fitness {
  top: calc(490px * var(--scale_clothes));
  left: calc(1100px * var(--scale_clothes));
  width: calc(228px * var(--scale_clothes));
  z-index: 4;
}

.pants {
  top: calc(828px * var(--scale_clothes));
  left: calc(1220px * var(--scale_clothes));
  width: calc(150px * var(--scale_clothes));
  transform: rotate(3deg);
  z-index: 3;
}

.DOOM {
  top: calc(630px * var(--scale_clothes));
  left: calc(514px * var(--scale_clothes));
  width: calc(76px * var(--scale_clothes));
  z-index: 2;
}

.BOOT1 {
  top: calc(914px * var(--scale_clothes));
  left: calc(362px * var(--scale_clothes));
  width: calc(76px * var(--scale_clothes));
  transform: rotate(4deg);
  z-index: 2;
}

.BOOT2 {
  top: calc(914px * var(--scale_clothes));
  left: calc(383px * var(--scale_clothes));
  width: calc(76px * var(--scale_clothes));
  transform: scaleX(-1) rotate(4deg);
  z-index: 2;
}

.SURYAHEAD {
  top: calc(350px * var(--scale_clothes));
  left: calc(310px * var(--scale_clothes));
  width: calc(76px * var(--scale_clothes));
  z-index: 2;
}
.aHa{
  top: calc(670px * var(--scale_clothes));
  left: calc(1110px * var(--scale_clothes));
  width: calc(186px * var(--scale_clothes));
  z-index: 2;
}
.hotline{
  top: calc(350px * var(--scale_clothes));
  left: calc(-270px * var(--scale_clothes));
  width: calc(455px * var(--scale_clothes));
  z-index: 10;
  transform: rotate(-4deg);
}
.blonde{
  top: calc(650px * var(--scale_clothes));
  left: calc(-270px * var(--scale_clothes));
  width: calc(455px * var(--scale_clothes));
  z-index: 10;
  transform: rotate(0deg);
}
.brownshorts {
  top: calc(826px * var(--scale_clothes));
  left: calc(66px * var(--scale_clothes));
  width: calc(151px * var(--scale_clothes));
  z-index: 2;
}

.blackpants {
  top: calc(760px * var(--scale_clothes));
  left: calc(685px * var(--scale_clothes));
  width: calc(162px * var(--scale_clothes));
  z-index: 2;
}

.SUIT {
  top: calc(564px * var(--scale_clothes));
  left: calc(1258px * var(--scale_clothes));
  width: calc(226px * var(--scale));
  z-index: 5;
}

.phool {
  top: calc(309px * var(--scale_clothes));
  left: calc(76px * var(--scale_clothes));
  width: calc(604px * var(--scale_clothes));
  z-index: -1;
}

.phool2 {
  top: calc(389px * var(--scale_clothes));
  left: calc(983px * var(--scale_clothes));
  width: calc(604px * var(--scale_clothes));
  z-index: -1;
}

.ytskrt {
  top: calc(806px * var(--scale_clothes));
  left: calc(191px * var(--scale_clothes));
  width: calc(166px * var(--scale_clothes));
  z-index: 2;
}
.flair{
  top: calc(320px * var(--scale_clothes));
  left: calc(1191px * var(--scale_clothes));
  width: calc(550px * var(--scale_clothes));
  z-index: 5;
}
.bluekurta {
  top: calc(410px * var(--scale_clothes));
  left: calc(160px * var(--scale_clothes));
  width: calc(220px * var(--scale_clothes));
  z-index: 3;
}

.blackkurta {
  top: calc(596px * var(--scale_clothes));
  left: calc(151px * var(--scale_clothes));
  width: calc(215px * var(--scale_clothes));
  transform: rotate(1deg);
  z-index: 4;
}

.champ {
  top: calc(356px * var(--scale_clothes));
  left: calc(151px * var(--scale_clothes));
  width: calc(212px * var(--scale_clothes));
  transform: rotate(85deg);
  z-index: 6;
}

.topi {
  top: calc(366px * var(--scale_clothes));
  left: calc(212px * var(--scale_clothes));
  width: calc(45px * var(--scale_clothes));
  transform: rotate(5deg);
  z-index: 6;
}

.furry {
  top: calc(901px * var(--scale_clothes));
  left: calc(1104px * var(--scale_clothes));
  width: calc(88px * var(--scale_clothes));
  transform: rotate(7deg);
  z-index: 1;
}

.furry2 {
  top: calc(901px * var(--scale_clothes));
  left: calc(1098px * var(--scale_clothes));
  width: calc(88px * var(--scale_clothes));
  transform: scaleX(-1) rotate(7deg);
  z-index: 1;
}

/* ---------------------- DHRUV -------------------- */
:root {
  --design-width: 1512; /* for macbook */
  --design-height: 445;
  --scale_dhrv: 1;
}
/* Scale proportionally on smaller devices */
@media (max-width: 2000px)  { :root { --scale_dhrv: 1.05; } }
@media (max-width: 1200px)  { :root { --scale_dhrv: 0.85; } }
@media (max-width: 900px)   { :root { --scale_dhrv: 0.70; } }
@media (max-width: 700px)   { :root { --scale_dhrv: 0.55; } }
@media (max-width: 500px)   { :root { --scale_dhrv: 0.40; } }
.DHRUV {
  position: relative;
  width: calc(var(--design-width) * 1px * var(--scale_dhrv));
  height: calc(2000px * var(--scale_dhrv)); /* taller collage, same width grid */
  margin: 0 auto;
  top: 260vh;
  z-index: 4;
}
.DHRUV img,
.DHRUV p {
  position: absolute;
  transform-origin: top left;
  display: block;
}
.DHRUVONE {
  top: calc(0px * var(--scale_dhrv));
  left: calc(0px * var(--scale_dhrv));
  width: calc(1150px * var(--scale_dhrv));
  z-index: 2;
}
.DHRUVTWO {
  top: calc(0px * var(--scale_dhrv));
  left: calc(1150px * var(--scale_dhrv));
  width: calc(380px * var(--scale_dhrv));
    z-index: 2;
}

.DHRUVTHREE {
  top: calc(572px * var(--scale_dhrv));
  left: calc(550px * var(--scale_dhrv));
  width: calc(1040px * var(--scale_dhrv));
    z-index: 2;
}

.DHRUVFOUR {
  top: calc(575px * var(--scale_dhrv));
  left: calc(0px * var(--scale_dhrv));
  width: calc(550px * var(--scale_dhrv));
    z-index: 2;
}

.DHRUVFIVE {
  top: calc(900px * var(--scale_dhrv));
  left: calc(0px * var(--scale_dhrv));
  width: calc(600px * var(--scale_dhrv));
    z-index: 2;
}

.DHRUVmini {
  top: calc(470px * var(--scale_dhrv));
  left: calc(120px * var(--scale_dhrv));
  font-size: calc(55px * var(--scale_dhrv));
  color: white;
  z-index: 5;
}

.DHRUVdescription {
  top: calc(450px * var(--scale_dhrv));
  left: calc(150px * var(--scale_dhrv));
  font-size: calc(115px * var(--scale_dhrv));
  color: white;
  z-index: 5;
}

.DHRUVLEFT{position: relative;top: 40vh;left: 0vw;display: flex;width: 20vw;z-index: 3;}
.DHRUVBYE{position: relative;top: -35vh;left: 14vw;display: flex;width:55vw;z-index: 0;padding: 0px 0px 0px 0px}
/* EXTRA BG  */
.extrabg{
  position: relative;
  top: 40vh;
  left: 0vw;
  display: flex;
}
.maaloom{
  position: absolute;
  top: 0vh;
  left: 60vw;
  font-size: 10vw;
  height: auto;
  z-index: 0;
  transform: rotate(90deg);
  white-space: nowrap;
  overflow: hidden;
  color: rgb(89, 71, 254);
}
.alag{
  position: absolute;
  top: 0vh;
  left: 60vw;
  font-size: 7vw;
  height: auto;
  z-index: 0;
  transform: rotate(90deg);
  white-space: nowrap;
  overflow: hidden;
  color: rgb(128, 114, 249);
}
.mulzim{
  position: absolute;
  top: 10vh;
  left: -15vw;
  font-size: 12vw;
  height: auto;
  z-index: 0;
  transform: rotate(-90deg);
  color: rgba(162, 22, 0, 0.744);
}
.anokha{
  position: absolute;
  top: 10vh;
  left: -18vw;
  font-size: 7vw;
  height: auto;
  z-index: 0;
  transform: rotate(-90deg);
  color: rgba(225, 31, 2, 0.744);
}
.SCROLL{
  position: absolute;
  top: 430vh;
  left: 20vw;
  width: 20vw;
}

/*--------------- JOURNAL + GENDA --------------------------*/


.GENDABORDER{position: relative;top: 160vh;left: 0vw;}
.genda1{position: absolute;top: 10vh;left: -10vw;z-index: 7;width: 20vw;padding: 0px 0px 0px 0px;}
.genda2{position: absolute;top: 10vh;left: 5;z-index: 8;width: 20vw;padding: 0px 0px 0px 0px;}
.genda3{position: absolute;top: 10vh;left: 15vw;z-index: 9;width: 20vw;padding: 0px 0px 0px 0px;}
.genda4{position: absolute;top: 10vh;left: 25vw;z-index: 10;width: 20vw;padding: 0px 0px 0px 0px;} 
.genda5{position: absolute;top: 10vh;left: 55vw;z-index: 11;width: 20vw;padding: 0px 0px 0px 0px;}
.genda6{position: absolute;top: 10vh;left: 65vw;z-index: 12;width: 20vw;padding: 0px 0px 0px 0px;}
.genda7{position: absolute;top: 10vh;left: 75vw;z-index: 13;width: 20vw;padding: 0px 0px 0px 0px;}
.genda1A{position: absolute;top: 10vh;left: 7vw;z-index: 7;width: 20vw;padding: 0px 0px 0px 0px;}
.genda2A{position: absolute;top: 10vh;left: 27;z-index: 8;width: 20vw;padding: 0px 0px 0px 0px;}
.genda3A{position: absolute;top: 10vh;left: 35vw;z-index: 9;width: 25vw;padding: 0px 0px 0px 0px;}
.genda4A{position: absolute;top: 10vh;left: 41vw;z-index: 14;width: 25vw;padding: 0px 0px 0px 0px;} 
.genda5A{position: absolute;top: 10vh;left: 55vw;z-index: 11;width: 25vw;padding: 0px 0px 0px 0px;}
.genda6A{position: absolute;top: 10vh;left: 60vw;z-index: 15;width: 20vw;padding: 0px 0px 0px 0px;}
.genda7A{position: absolute;top: 10vh;left: 85vw;z-index: 19;width: 25vw;padding: 0px 0px 0px 0px;}

.JOURNAL{
position: relative;
  top: 190vh;
  left: 0vw;
}
#whiteboard{
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 80vh;
  z-index: 5;
  border: 1vw solid transparent;
  background-image: url('pics/google-2009.png') ;
  background-size: cover;
  font-family: "EB Garamond", serif;
  font-weight: 300;
  font-size:4vw;
  font-style: normal;
  white-space: pre-line;
}
#imageUpload{
    position: absolute;
    top: 30vh;
    left: 78vw;
    height: 5vh;
    width:10vw;
    z-index: 6;
    background: transparent;
    color: #e70606;
    cursor: pointer;
    font-size: 0.8vw;
    font-family:"Garamond";
}
.JOURNALCOLLAGE {
  position: relative;
  width: calc(var(--design-width) * 1px * var(--scale));
  height: calc(1000px * var(--scale));
  margin: 0 auto;
  top: 190vh;
  z-index: 0;
}
#lychee{position: absolute;top: 100vh;left: 10vw;width: calc(300px * var(--scale_dhrv));z-index: 0;}
#phase {position: absolute;top: 150vh;left: 60vw;width: calc(400px * var(--scale_dhrv));z-index: 0;}
#walk {position: absolute;top: 160vh ;left: 20vw;width: calc(100px * var(--scale_dhrv));z-index: 0;}

/* -------------------------------     FREDA THE FORTUNE TELLER       ----------------------- */

.FREDA_plot{position:relative;top:400vh;left:0vw;}
.freda{position:absolute; top: 60vh;left:7vw;width:50vw;z-index: 2}
#reply{position:absolute; top: 64vh;left:55vw;width:40vw;z-index:3;max-width: 100% !important;}

.responsebar{position:absolute;top:0vw;left:0vw;display:flex;z-index: 4;}
#fredabutton{position:absolute; top: 116vh;left:61vw;width:450px;height:60px;z-index:4;background-image: url("freda/fredabuttonmid.gif")}

#typespace {position: absolute;top: 122vh;left: 50vw;height: 10vh;width: 40vw;
  padding: 0.5vh;border-radius: 5px;background-color: rgba(158, 158, 248, 0.874);color: rgb(248, 1, 203);
  border: 0.3vw solid rgba(67, 1, 143, 0.81); outline: none;transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;font-family: 'DOS';
  font-size: 1.5vw;z-index: 4; }

#typespace:hover {border: 2px solid rgb(35, 101, 0);box-shadow: 0px 0px 20px -17px;}
#typespace:active {transform: scale(0.95);}
#typespace:focus {border: 2px solid rgb(0, 89, 15);}

#frame{position:absolute; top: 5vh;left:0vw;width:100vw;z-index:1;}
.star_banner{position:absolute; top: 65vh;left:17vw;width:30vw;z-index:4;}
#space{position:absolute; top: 30vh;left:0vw;width:100vw;height:130vh;z-index:0;}
#title{position:absolute; top: 32vh;left:7vw;font-size: 6vw; z-index:3;font-family: 'Zombie';color: rgba(248, 1, 203, 0.602);}
